.main-div
{
    font-family: "Lucida Sans";
    background-color: black;
    margin: -397px auto;
    padding: 10px;
    width: 950px;
    height: 470px;
}

.main-heading
{
    
}

.buttons-div
{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.buttons
{
    width: 200px;
    height: 100px;
}