.main-div
{
    font-family: monospace;
    margin: -71% 0px 0px 600px;
    padding: 10px;
    position: absolute;
    background-color: black;
}

.info-div
{
    width: 400px;
}

.data-label
{
    float: right;
    
    margin: 0px;
}

.buttons
{
    font-family: monospace;
    margin: 10px 0px 10px 280px;
    background-color: white;
}